/*
Theme Name: Isesden V2
Theme URI: http://isesdenver.com
Description: Theme for ises denver
Author: Kristopher LaGraff
Author URI: https://krislagraff.com
Template: canvas
Version: 1.0
Tags:
*/

@import url("../canvas/style.css");
h1.archive_header {
    font-family: Raleway;
    color: #333333;
}
.featured-home  {
    font: bold 14px/1.2em Raleway;
    color: #555555;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 0.8em 0;
    padding: 0 0 0.8em;
}
table, td {
    border: none !important;
}
.nav-toggle {
    background: #3f4040;
}
aside#sidebar-alt .widget_text h3, div#recent-posts-3.widget.widget_recent_entries h3 {
    background: #6f2a8e;
    text-align: center;
    color:#fff;
    padding:10px;
}
aside#sidebar-alt .widget_text, aside#sidebar-alt .widget.widget_recent_entries {
    background: #f0f0f0;

}
#footer-widgets p, #footer-widgets a {
    color:#fff;
}
aside#sidebar-alt .widget_text div.textwidget, aside#sidebar-alt .widget.widget_recent_entries {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
     padding: 0 10px 10px 10px;
     overflow: hidden;
}
#navigation {
    margin-bottom: 0;
}

#nav-container {
    margin-bottom: 20px;
}

.btn {
    font-family: Raleway;
    float: right;
    display: inline-block;
    padding: .327em 1em;
    color: white !important;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    overflow: visible;
    width: auto;
    line-height: 1.618em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
    background: #6f2a8e;
    font-weight: 200;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 #888;
    -webkit-box-shadow: 0 0 0 0 #888;
    border-radius: 3px;
    text-shadow: none;
    -webkit-appearance: none;
}
.btn-head {
    font-family: Raleway;
    display: inline-block;
    padding: .327em 1em;
    color: white !important;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    overflow: visible;
    width: auto;
    line-height: 1.618em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
    background: #6f2a8e;
    font-weight: 200;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 #888;
    -webkit-box-shadow: 0 0 0 0 #888;
    border-radius: 3px;
    text-shadow: none;
    -webkit-appearance: none;
}
.btn-blog {
    display:block;
    margin: 0 auto !important;
    font-family: Raleway;
    padding: .327em 1em;
    color: white !important;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    overflow: visible;
    width: 35%;
    line-height: 1.618em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
    background: #6f2a8e;
    font-weight: 200;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 #888;
    -webkit-box-shadow: 0 0 0 0 #888;
    border-radius: 3px;
    text-shadow: none;
    -webkit-appearance: none;
}
span.ctct_title {
    font-size: 1.2em;
}

.ctct-custom-form {
  min-width: 0 !important;
}
/* Additional Bullshit */

#rev_slider_1_1_wrapper {
    margin-bottom: 25px !important;
}
.widget_search {
    background: #f0f0f0;
}
dl.cc_event .cc_event_title a {
   font-size: 1.5em;
   line-height: 1em;
   font-family: Raleway;
   color: #6f2a8e;
}
#navigation {
  background: #3f4040;
}
a.button, a.comment-reply-link, #commentform #submit, .submit, input[type=submit], input.button, button.button, #wrapper .woo-sc-button, {
    background: #6f2a8e;
}
a.button:hover, a.comment-reply-link:hover, #commentform:hover #submit:hover, .submit:hover, input[type=submit],
input.button:hover, button.button:hover, #wrapper .woo-sc-button:hover {
    background: #6f2a8e;
}
/* Gravity Forms */
.form_saved_message_sent {
    background: #f0f0f0;
}

/* Media Queries */
@media only screen and (min-width: 968px) {
    #text-11, #text-12 {
        display: none;
    }
}
@media only screen and (max-width: 968px) {
	.btn-blog {
        width:100%
}
}
